/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  }
  img {
  max-width: 100%;
  }
  .container-hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  }
  .title {
  color: white;
  position: absolute;
  z-index: 100;  
  text-align: center;
  }
  .title h1 {
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 5px;
  font-weight: bold;
  }
  .title h5 {
  font-size: 2.5rem;
  letter-spacing: 6px;
  font-weight: bold;
  }
  .title p  {
  background:-webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.2)), to(transparent));
  background:-o-linear-gradient(left, transparent, rgba(255, 255, 255, 0.2), transparent);
  background:linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 8px;
  font-size: 1.2rem;
  }
  .cloud {
  background-color: rgba(0,0,0, .4);
  position: absolute;
  bottom: 0;
  width: 250.625em;
  height: 100vh;
  -webkit-animation: translateLeft3d 80s linear infinite;
          animation: translateLeft3d 80s linear infinite;
  z-index: 1;
  }
  @-webkit-keyframes translateLeft3d {
  0% {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  }
  100% {
  -webkit-transform: translate3d(-50%,0,0);
          transform: translate3d(-50%,0,0);
  }
  }
  @keyframes translateLeft3d {
  0% {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  }
  100% {
  -webkit-transform: translate3d(-50%,0,0);
          transform: translate3d(-50%,0,0);
  }
  }
  .img_cloud {
  margin-top: 4rem;
  }
  @media screen and (max-width: 800px) {
  .title h5 {
  font-size: 1.3rem;
  }
  .title h1 {
  font-size: 2.5rem;
  }
  .title p {
  font-size: .75rem;
  }
  }
  @media screen and (max-width: 450px) {
  .title h5 {
  font-size: .75rem;
  }
  .title h1 {
  font-size: 1.5rem;
  }
  .title p {
  font-size: .55rem;
  }
  }